<%= content_for :css do %>
  <%= stylesheet_link_tag 'backend/navbar' %>
<% end %>
<ul id="aside-menu">
  <li id="title"><%= t('app_name') %></li>
  <li><%= link_to t('dashboard.aside.categories'), backend_categories_path %></li>
  <li><%= link_to t('dashboard.aside.products'),   backend_products_path %></li>
  <li><%= link_to t('dashboard.aside.orders'),     backend_orders_path %></li>
  <li><%= link_to t('dashboard.aside.users'),      backend_users_path %></li>
  <li><%= link_to t('dashboard.aside.settings'),   '#' %></li>
</ul>

<div id="top-navbar" class="row">
  <div id="breadcrumb" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <%= breadcrumb %>
  </div>
</div>