<%= content_for :js do %>
  <%= javascript_pack_tag 'backend/product_modal' %>
<% end %>
<div class="backend-panel border-primary">
  <div class="backend-panel-body">
    <%= link_to t('path.back_link'), :back, class: 'btn btn-default' %>
    <%= link_to t('path.backend.products.new'), new_backend_product_path, class: 'btn btn-default pull-right' %>
  </div>
</div>
<div class="backend-panel">
  <div class="backend-panel-head bg-primary">
   <%= t('dashboard.title.products.index') %>
  </div>
  <div class="backend-panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <% %i[title category price status].each do |column| %>
            <th><%= i18n :column, model: :product, name: column %></th>
          <% end %>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.title %></td>
            <td><%= product.category.title %></td>
            <td><%= product.price %></td>
            <td><%= i18n :enum, model: :product, status: product.status %></td>
            <td>
              <%= link_to t('path.backend.products.show'), backend_product_path(product), class: 'btn btn-xs btn-default' %>
              <%= link_to t('path.backend.products.edit'), edit_backend_product_path(product), class: 'btn btn-xs btn-default' %>
              <%= link_to t('path.backend.products.destroy'), '#', class: 'btn btn-xs btn-default destroy-product-btn', data: { title: product.title, url: backend_product_path(product), turbolinks: false } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="backend-panel-body">
    <%= paginate @products %>
  </div>
</div>

<%= render 'backend/shared/delete_modal', model: :product %>
