<%= content_for :js do %>
  <%= javascript_pack_tag 'backend/category_modal' %>
<% end %>
<div class="backend-panel border-primary">
  <div class="backend-panel-body">
    <%= link_to t('path.back_link'), :back, class: 'btn btn-default' %>
    <%= link_to t('path.backend.categories.new'), new_backend_category_path, class: 'btn btn-default pull-right' %>
  </div>
</div>
<div class="backend-panel">
  <div class="backend-panel-head bg-primary">
    <%= t('path.backend.categories.index') %>
  </div>
  <div class="backend-panel-body">
    <table id="categories-table" class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th><%= i18n :column, model: :category, name: :title %></th>
          <th><%= i18n :column, model: :category, name: :description %></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.title %></td>
            <td><%= category.description.truncate(30) %></td>
            <td>
              <%= link_to t('path.backend.categories.show'), backend_category_path(category), class: 'btn btn-xs btn-default' %>
              <%= link_to t('path.backend.categories.edit'), edit_backend_category_path(category), class: 'btn btn-xs btn-default' %>
              <%= link_to t('path.backend.categories.destroy'), '#', class: 'btn btn-xs btn-default destroy-category-btn', data: { title: category.title, url: backend_category_path(category), turbolinks: false } %>
              <%= link_to t('path.backend.products.new'), new_backend_product_path(category), class: 'btn btn-xs btn-default' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="backend-panel-body">
    <%= paginate @categories %>
  </div>
</div>

<%= render 'backend/shared/delete_modal', model: :category %>
