<div class="backend-panel border-primary">
  <div class="backend-panel-body">
    <%= link_to t('path.back_link'), :back, class: 'btn btn-default' %>
    <%= link_to t('path.backend.categories.index'), backend_categories_path, class: 'btn btn-default pull-right' %>
    <%= link_to t('path.backend.categories.new'), new_backend_category_path, class: 'btn btn-default pull-right' %>
  </div>
</div>
<div class="backend-panel">
  <div class="backend-panel-head bg-primary">
    <%= t('dashboard.title.categories.show') %>
    <%= link_to t('path.backend.categories.edit'), edit_backend_category_path(@category) %>
  </div>
  <div class="backend-panel-body">
    <div class="backend-panel-info">
      <h3><%= t('activerecord.attributes.category.title') %></h3>
      <p><%= @category.title %></p>
    </div>
    <div class="backend-panel-info">
      <h3><%= t('activerecord.attributes.category.description') %></h3>
      <p><%= @category.description %></p>
    </div>
  </div>
</div>
<div class="backend-panel">
  <div class="backend-panel-head bg-primary">
    <%= t('dashboard.title.categories.products') %>
  </div>
  <div class="backend-panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <% [:title, :description, :price, :status].each do |column| %>
            <th><%= i18n :column, model: :product, name: column %></th>
          <% end %>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.title %></td>
            <td><%= product.description.truncate(30) %></td>
            <td><%= product.price %></td>
            <td><%= i18n :enum, model: :product, status: product.status %></td>
            <td>Actions</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
