<%= content_for :css do %>
  <%= stylesheet_link_tag 'category/show' %>
  <%= stylesheet_link_tag 'category/shopping_cart' %>
<% end %>
<%= content_for :js do %>
  <%= javascript_pack_tag 'category_aside_navbar' %>
<% end %>

<div id="category-show-mobile-version" class="mobile-version">
  <%= render @category.products %>
</div>

<div id="billboard" class="desktop-version"></div>

<div id="category-show-desktop-version" class="desktop-version">
  <div class="row p-r-10">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
      <ul id="product-list">
        <% Category.all.each do |category| %>
          <li class="<%= 'active' if category.id == @category.id %>">
            <%= link_to category.title, category_path(category) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
      <% @category.products.each_slice(2) do |product1, product2| %>
        <div class="row">
          <div class="product-block col-lg-6 col-md-6 col-sm-6">
            <%= image_tag fake_image, class: 'product-img' %>
            <div class="product-info">
              <p class="product-title"><%= product1.title %></p>
              <p class="product-price"><%= product1.price %></p>
              <%= link_to fa_icon('shopping-cart'), '#', class: 'add-cart-item-btn', data: { id: product1.id } %>
            </div>
          </div>
          <% unless product2.nil? %>
            <div class="product-block col-lg-6 col-md-6 col-sm-6">
              <%= image_tag fake_image, class: 'product-img' %>
              <div class="product-info">
                <p class="product-title"><%= product2.title %></p>
                <p class="product-price"><%= product2.price %></p>
                <%= link_to fa_icon('shopping-cart'), '#', class: 'add-cart-item-btn', data: { id: product2.id } %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= react_component 'shopping-cart' %>
