<!DOCTYPE html>
<html>
  <head>
    <title>Wunderschön</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto+Mono:100,400' %>
    <%= yield(:css) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:js) %>
  </head>

  <body>
    <%= render 'shared/navbar' unless @without_navbar %>
    <div class="custom-container">
      <%= yield %>
    </div>
  </body>
</html>
